# API & Configuration 
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2
python-multipart==0.0.10
python-dotenv==1.0.1

# Database Connectivity 
pyodbc==5.2.0
sqlalchemy==2.0.35
alembic==1.13.3      
cryptography==43.0.1    

#  Message Broker 
aiokafka==0.12.0

# Big Data Processing 
pyspark==3.5.3
delta-spark==3.2.1
pyarrow==23.0.1
redis==5.0.1
requests==2.31.0
duckdb==1.5.4
great_expectations==1.18.2
apache-airflow-providers-great-expectations  # Only for Docker Container environment

# Machine Learning 
pandas==2.2.3
numpy==2.1.2
joblib==1.5.3
scikit-learn
xgboost==3.2.0

# Visualization 
matplotlib==3.9.2
seaborn==0.13.2
streamlit
streamlit-autorefresh
pytest==8.3.3    
plotly


azure-eventhub